$focus-color: #78ba52;
@font-face {
    font-family: "Kreadon";
    src: url(./../fonts/Kreadon.ttf);
}
* {
    font-family: "Kreadon";
}
body {
    margin: 0;
    padding: 0;
}
.main {
    min-height: 100vh;
}

.button {
    box-sizing: border-box;
    display: block;
    padding: 10px 30px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    // box-shadow: 0 0 7px 0 #000;
    background: $focus-color;
    color: #fff;
    border: 1px solid $focus-color;
    transition: all 0.3s;
    font-weight: bold;
    &:hover {
        background: #fff;
        color: #000;
    }
}
.card {
    // background: $focus-color;
    width: 320px;
    box-shadow: 0 0 5px 0 #000;
    border-radius: 10px;
    box-sizing: border-box;
    user-select: none;
    @media (max-width: 1200px) {
        margin: 3vw;
    }
    &_image {
        width: 100%;
        height: 210px;
        object-fit: contain;
        box-shadow: inset 0 0 5px 0px #000;
        border-radius: 10px 10px 0 0;
    }
    &_heading {
        text-align: center;
    }
    &_description {
        padding: 0 10px 10px;
    }
    &_button {
        margin: 0 auto 1vh;
        background: #fff;
        color: #000;
        &:hover {
            background: $focus-color;
            color: #fff;
        }
    }
}

