@font-face {
  font-family: "Kreadon";
  src: url(./../fonts/Kreadon.ttf);
}
* {
  font-family: "Kreadon";
}

body {
  margin: 0;
  padding: 0;
}

.topbar {
  z-index: 15;
  background: rgba(30, 20, 12, 0.9);
  position: fixed;
  width: 100%;
  display: grid;
  box-sizing: border-box;
  padding: 0 5vw;
  grid-template-columns: 12vw 40vw 12vw;
  grid-template-areas: "logo navigation basket";
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  border-bottom: 2px solid #0ab554;
  min-height: 10vh;
}
@media (max-width: 640px) {
  .topbar {
    grid-template-areas: "burger logo basket" "navigation navigation navigation";
    grid-template-columns: 20vw 40vw 20vw;
  }
}
.topbar_logo {
  grid-area: logo;
}
.topbar_logo-img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
.topbar_navigation {
  grid-area: navigation;
  width: 100%;
}
.topbar_basket {
  cursor: pointer;
  grid-area: basket;
  position: sticky;
  width: 50px;
  height: 50px;
  background-image: url(./../images/basket.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.topbar_basket-counter {
  display: none;
}
.topbar_basket--fill {
  background-image: url(./../images/fill-basket.png);
}
.topbar_basket--fill .topbar_basket-counter {
  width: 20px;
  height: 20px;
  background: #0ab554;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-small;
}

.navigation {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}
.navigation_block {
  padding: 10px;
}
.navigation_link {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
  color: #0ab554;
  text-align: center;
}
.navigation_line {
  width: 0;
  border-bottom: 1px solid #0ab554;
  transition: width 0.2s;
}
.navigation_link:hover + .navigation_line {
  width: 100%;
}

.button {
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  padding: 10px 30px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  background: #0ab554;
  color: #fff;
  border: 1px solid #0ab554;
  transition: all 0.3s;
  font-weight: bold;
}
.button:hover {
  background: #fff;
  color: #000;
}

.card {
  width: 320px;
  box-shadow: 0 0 5px 0 #000;
  border-radius: 10px;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 1200px) {
  .card {
    margin: 3vw;
  }
}
.card_image {
  width: 100%;
  height: 210px;
  -o-object-fit: contain;
     object-fit: contain;
  box-shadow: inset 0 0 5px 0px #000;
  border-radius: 10px 10px 0 0;
}
.card_heading {
  text-align: center;
}
.card_description {
  padding: 0 10px 10px;
}
.card_button {
  margin: 0 auto 1vh;
  background: #fff;
  color: #000;
}
.card_button:hover {
  background: #0ab554;
  color: #fff;
}

.footer {
  min-height: 40vh;
  box-shadow: 0 0 5px 0 #000;
  display: grid;
  grid-template-areas: "map contacts navigation";
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: 100%;
  box-sizing: border-box;
  align-content: center;
  padding: 2vh 5vw;
  justify-content: space-between;
  background: #1e140c;
}
@media (max-width: 1200px) {
  .footer {
    grid-template-areas: "navigation navigation" "map contacts";
    grid-template-columns: 70% 25%;
    grid-template-rows: auto;
  }
}
@media (max-width: 800px) {
  .footer {
    grid-template-areas: "navigation" "map" "contacts";
    grid-template-columns: 100%;
  }
}
.footer_map {
  position: relative;
  z-index: 10000;
  border: 2px solid #1e140c;
  border-radius: 10px;
  grid-area: map;
}
.footer_map-block {
  width: 100%;
  border-radius: 10px;
  height: 100%;
}
.footer_map-block iframe {
  width: 100%;
  height: 100%;
}
.footer_map-shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 0 0 10px 5px #1e140c;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.footer_navigation {
  grid-area: navigation;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1200px) and (min-width: 800px) {
  .footer_navigation {
    flex-direction: row;
  }
}
.footer_navigation-logo {
  width: 100%;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer_navigation-ul {
  flex-direction: column;
}
@media (max-width: 1200px) {
  .footer_navigation-ul {
    flex-direction: row;
  }
}
.footer_navigation-ul .navigation_block {
  width: -moz-max-content;
  width: max-content;
}

.contacts {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contacts_item {
  display: block;
  color: #fff;
  margin: 2vh 0;
}
.contacts_number-link {
  text-decoration: none;
  color: #fff;
}
.contacts_soc {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
}
.contacts_link {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 30%;
}
.contacts_image {
  display: block;
  width: 100%;
}
.contacts_br {
  display: none;
}
@media (max-width: 1200px) {
  .contacts_br {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */