$focus-color: #0ab554;
@font-face {
    font-family: "Kreadon";
    src: url(./../fonts/Kreadon.ttf);
}
* {
    font-family: "Kreadon";
}
body {
    margin: 0;
    padding: 0;
}
.topbar {
    z-index: 2;
    background: rgb(#1e140c, 90%);
    position: fixed;
    width: 100%;
    display: grid;
    box-sizing: border-box;
    padding: 0 5vw;
    grid-template-columns: 12vw 40vw 12vw;
    grid-template-areas: "logo navigation basket";
    @media (max-width: 640px) {
        grid-template-areas: "burger logo basket" "navigation navigation navigation";
        grid-template-columns: 20vw 40vw 20vw;
    }
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    border-bottom: 2px solid #0ab554;
    min-height: 10vh;
    &_logo {
        grid-area: logo;
        &-img {
            display: block;
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
    &_navigation {
        grid-area: navigation;
        width: 100%;
        @media (max-width: 640px) {
        }
    }
    &_basket {
        cursor: pointer;
        grid-area: basket;
        position: sticky;
        width: 50px;
        height: 50px;
        background-image: url(./../images/basket.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        &-counter {
            display: none;
        }
        &--fill {
            background-image: url(./../images/fill-basket.png);
        }
        &--fill &-counter {
            width: 20px;
            height: 20px;
            background: $focus-color;
            border-radius: 50%;
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: xx-small;
        }
    }
}
.navigation {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    &_block {
        padding: 10px;
    }
    &_link {
        display: block;
        text-align: center;
        text-decoration: none;
        font-weight: bolder;
        color: $focus-color;
        text-align: center;
    }
    &_line {
        width: 0;
        border-bottom: 1px solid $focus-color;
        transition: width 0.2s;
    }
    &_link:hover + &_line {
        width: 100%;
    }
}
.button {
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    padding: 10px 30px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    // box-shadow: 0 0 7px 0 #000;
    background: $focus-color;
    color: #fff;
    border: 1px solid $focus-color;
    transition: all 0.3s;
    font-weight: bold;
    &:hover {
        background: #fff;
        color: #000;
    }
}
.card {
    // background: $focus-color;
    width: 320px;
    box-shadow: 0 0 5px 0 #000;
    border-radius: 10px;
    box-sizing: border-box;
    user-select: none;
    @media (max-width: 1200px) {
        margin: 3vw;
    }
    &_image {
        width: 100%;
        height: 210px;
        object-fit: contain;
        box-shadow: inset 0 0 5px 0px #000;
        border-radius: 10px 10px 0 0;
    }
    &_heading {
        padding: 0 10px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 2.7em;
        margin: 1vh 0;
    }
    &_description {
        padding: 0 10px 10px;
        &-price {
            width: 80px;
            text-align: center;
            float: right;
            padding: 10px;
            font-size: large;
            border-radius: 10px;
            background: $focus-color;
            margin: 0px 0px 5px 5px;
            color: #fff;
        }
    }
    &_button {
        margin: 0 auto 1vh;
        background: #fff;
        color: #000;
        &:hover {
            background: $focus-color;
            color: #fff;
        }
    }
}

.footer {
    min-height: 40vh;
    box-shadow: 0 0 5px 0 #000;
    display: grid;
    grid-template-areas: "map contacts navigation";
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 100%;
    @media (max-width: 1200px) {
        grid-template-areas: "navigation navigation" "map contacts";
        grid-template-columns: 70% 25%;
        grid-template-rows: auto;
    }
    @media (max-width: 800px) {
        grid-template-areas: "navigation" "map" "contacts";
        grid-template-columns: 100%;
    }
    box-sizing: border-box;
    align-content: center;
    padding: 2vh 5vw;
    justify-content: space-between;
    background: #1e140c;
    &_map {
        position: relative;
        z-index: 1;
        border: 2px solid #1e140c;
        border-radius: 10px;
        grid-area: map;
        &-block {
            // display: none;
            width: 100%;
            border-radius: 10px;
            height: 100%;
            iframe {
                width: 100%;
                height: 100%;
            }
        }
        &-shadow {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            box-shadow: inset 0 0 10px 5px #1e140c;
            user-select: none;
            pointer-events: none;
        }
    }
    &_navigation {
        grid-area: navigation;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media (max-width: 1200px) and (min-width: 800px) {
            flex-direction: row;
        }
        // @media (max-width: 800px) {
        //     flex-direction: column;
        // }
        &-logo {
            width: 100%;
            display: block;
            object-fit: contain;
        }
        &-ul {
            flex-direction: column;
            @media (max-width: 1200px) {
                flex-direction: row;
            }
            .navigation_block {
                width: max-content;
            }
        }
    }
}
.contacts {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    &_item {
        display: block;
        color: #fff;
        margin: 2vh 0;
    }
    &_number {
        &-link {
            text-decoration: none;
            color: #fff;
        }
    }
    &_soc {
        width: 75%;
        display: flex;
        justify-content: space-evenly;
    }
    &_link {
        color: #fff;
        text-decoration: none;
        display: block;
        width: 30%;
    }
    &_image {
        display: block;
        width: 100%;
    }
    &_br {
        display: none;
        @media (max-width: 1200px) {
            display: block;
        }
        @media (max-width: 800px) {
        }
    }
}
.basket {
    // display: none;
    position: fixed;
    top: 0;
    right: -600px;
    height: 100vh;
    width: 600px;
    z-index: 3;
    background: #1e140c;
    color: #fff;
    transition: right 0.3s;
    box-shadow: inset 12px 0px 12px -12px $focus-color;
    &--active {
        right: 0;
    }
    &_heading {
        text-align: center;
    }
    &_close {
        position: absolute;
        top: 1.5em;
        right: 1.5em;
        width: 3em;
        height: 3em;
        border: none;
        background: url(./../images/close.png);
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
    }
    &_list {
        border: none;
        padding: 0;
        display: grid;
        max-height: 85vh;
        grid-template-rows: 1fr auto auto;
        &-body {
            overflow: auto;
            height: 75vh;
            &::-webkit-scrollbar {
                width: 10px;
            }
            &::-webkit-scrollbar-thumb {
                background: rgb(#1e140c, 0.9);
                border-radius: 10px;
            }
            &::-webkit-scrollbar-track {
                background: $focus-color;
                border-radius: 10px;
            }
        }
        &-buttons {
            display: flex;
            justify-content: space-between;
            padding: 0 2vw;
        }
        &-clear,
        &-next {
            width: 45%;
            display: inline-block;
            margin: 2vh 0;
            font-size: large;
        }
    }
    &_item {
        border: 1px solid #0d0e0e;
        display: grid;

        grid-template-areas:
            "image name name delete"
            "image counter sum sum";
        &--empty {
            grid-template-areas:
                "name name name"
                "name name name";
            justify-content: center;
            justify-items: center;
            align-items: center;
            align-content: center;
        }
        grid-template-columns: 100px 1fr 30%;
        grid-template-rows: 50px 50px;
        padding: 5px 15px;
        margin: 2vh 2vw;
        align-items: center;
        box-shadow: inset 0 0 5px 0 $focus-color;
        border-radius: 10px;
        // justify-items: end;
        &-counter {
            grid-area: counter;
        }
        &-sum {
            grid-area: sum;
            text-align: right;
            font-size: large;
            padding: 10px;
            background: $focus-color;
            width: max-content;
            margin-left: auto;
            border-radius: 10px;
        }
        &-image {
            display: block;
            grid-area: image;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        &-name {
            grid-area: name;
            padding: 0 20px;
            margin: 1vh 0;
            text-align: left;
        }
        &-delete {
            grid-area: delete;
            width: 1.5em;
            height: 1.5em;
            background: url(./../images/del.png);
            background-repeat: no-repeat;
            background-size: contain;
            border: none;
            margin-left: auto;
        }
    }
    &_data {
        display: none;
    }
    &_total {
        display: flex;
        justify-content: space-between;
        padding: 0 2vw;
    }
}
.counter {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_button {
        padding: 0;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
