@import url(./variables.css);

html {
    scroll-behavior: smooth;
}
@keyframes labelOut {
    0% {
        top: 0;
        left: 0;
        width: 100%;
        font-size: 12pt;
    }
    90% {
        background: #fff;
    }
    100% {
        left: 8px;
        top: -1em;
        font-size: 10pt;
        background: #fff;
        width: auto;
        padding: 0 0.5vw 0 0;
    }
}
@keyframes labelIn {
    0% {
        left: 8px;
        top: -1em;
        font-size: 10pt;
        background: #fff;
        width: auto;
        padding: 0 0.5vw 0 0;
    }
    5% {
        background: #fff;
    }
    100% {
        top: 0;
        left: 0;
        width: 100%;
        font-size: 12pt;
    }
}
body {
    margin: 0;
    overflow: hidden;
}

* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.admin-form {
    border: 3px solid var(--dark-color);
    border-radius: 10px;
    position: sticky;
    top: 10px;
    &__heading {
        text-align: center;
        margin: 2vh 0;
    }

    &__block-input {
        position: relative;
        width: 80%;
        margin: 4vh auto;
    }

    &__border-block {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        user-select: none;
        border: 2px solid var(--light-color);
        border-radius: 8px;
        z-index: 1;
    }

    &__label-input {
        position: absolute;
        display: block;
        color: var(--dark-color);
        padding: 1.5vh 1vw;
        font-size: 12pt;
        top: 0;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        z-index: 20;
        user-select: none;
        cursor: text;
        transition: all 0.3s;
        pointer-events: none;
        animation: labelIn 0.3s;
    }

    &__input {
        position: relative;
        z-index: 2;
        display: block;
        background: none;
        border: none;
        width: 100%;
        outline: none;
        font-size: 12pt;
        box-sizing: border-box;
        padding: 1.5vh 1vw;
        animation: labelOut 0.3s;
        resize: vertical;
        // animation-fill-mode:both;
        &:focus ~ label,
        &:valid ~ label {
            animation: labelOut 0.3s;
            animation-fill-mode: both;
        }
    }

    &__input-file {
        display: none;
    }
    &__label-file {
        overflow-y: auto;
        display: flex;
        width: 80%;
        margin: 2vh auto;
        background: var(--light-color);
        justify-content: center;
        align-items: center;
        align-content: center;
        border: 2px solid var(--dark-color);
        border-radius: 8px;
        padding: 1vh 1vw;
        box-sizing: border-box;
    }
    &__label-content {
        position: relative;
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        &:not(:has(img))::before {
            content: "Добавьте изображение";
            display: block;
        }
        &.drag::before {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: calc(100% + 1vh);
            top: 0;
            left: 0;
            background: var(--light-color);
            content: "Перетащите сюда";
        }
        &:has(img) {
            justify-content: space-between;
            flex-wrap: wrap;
            img {
                width: 90px;
                margin-bottom: 0.5vh;
                object-fit: contain;
                height: 90px;
                pointer-events: none;
            }
        }
    }

    &__label-placeholder {
        display: none;
    }

    &__button-submit {
        display: block;
        border: 2px solid var(--dark-color);
        background: var(--light-color);
        padding: 1vh 1vw;
        margin: 1vh auto;
        border-radius: 8px;
        font-size: 12pt;
        font-weight: 600;

        &:hover {
            background: var(--dark-color);
            border-color: var(--light-color);
            color: #fff;
        }
    }
}

.leftbar {
    height: 100vh;
    width: 20vw;
    position: fixed;
    left: 0;
    top: 0;
    background: var(--main-color);

    &__ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &__link {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 1vh 1vw;

        &.active {
            display: flex;
            justify-content: space-between;
            background: var(--dark-color);

            &::after {
                content: "\27A4";
                display: block;
                font-weight: 900;
            }
        }
    }
}

.main {
    box-sizing: border-box;
    padding: 8px;
    margin-left: 20vw;
}

.section {
    box-sizing: border-box;
    height: 100vh;
    overflow: auto;
    &__with-table {
        max-height: 90vh;
        &#application,&#reserve{
            width: 100%;
        }
    }
    &__heading {
        text-align: center;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    &__form {
        width: 450px;
    }

    &__list {
        padding: 0 2vw;
        width: calc(100% - 450px);
        box-sizing: border-box;
    }
}
.bg {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 15;
    &.active {
        display: block;
    }
}
.table {
    width: 100%;
    border-collapse: collapse;
    &__row {
        &:first-child {
            width: 4ch;
        }
    }
    &__heading-ceil {
        font-weight: 700;
        border: 2px solid #000;
    }
    &__ceil {
        border: 1px solid #000;
        img {
            max-width: 100px;
            object-fit: contain;
            display: block;
        }
    }
}
